* {
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic, sans-serif;
	color: $color-texto;
}	

.menu, .contacto, .formulario, .mapa{
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
header{
	background-color: $color-menu; 
}
.menu {
	@include menu-lista;
	li{
		padding-top: 20px;
	}
}
.pisition {
	position: relative;
	margin-left: 465px;
	li {
		@include manu-estilos-lista;
		a {
			@include manu-etiqueta;
		}
	}
}

/*Contacto*/
.contacto{
	@include texto-centredo;
	h1{
		@include texto-centredo;
	}
}
/*FORMULARIO*/
.container, .formulario, .mapa{
	@include posicion ;
}

.mapa {
	@include posicion-dos;
}

h4{
		@include fuente-h;
}
.form{
	p{
		@include fuente-parrafo;
	}
}
.down-section{
	p{
		@include fuente-parrafo;
	}
}
.location{
	p {
		@include mapa-location;
	}
}
.boton{
	@include enviar;
}